@import '../../../style/variable.scss';
.products-table {
    min-width: 1100px;
}
.content-page.noi {
    margin: 160px -100px;
}
.order_heading:after {
    content: "";
    background: #252a2b;
    display: block;
    width: 120px;
    height: 4px;
    margin: 25px
 auto 0;
}
.products-table thead tr, .products-table thead th {
    border-top: none;
    border-bottom: none!important;
    padding-bottom: 20px;
    font-weight: Bold;
    color: #d61114;
    font-size: 1.6rem;
}
.products-table tbody th, .products-table tbody td {
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
}
.products-table tbody tr.spacer td {
    padding: 0!important;
    height: 12px;
    border-radius: 0!important;
    background: transparent!important;
    
}
.products-table .products-table-select {
    border: 1px solid;
    height: 28px;
    outline: none;
   
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    max-width: 200px;
    font-size: 1.5rem;
    line-height: 2.4rem;
}
table.products-table tr td.image img {
    max-width: 100px;
    vertical-align: middle;
    border: 0;
}

.products_image .avatar-img {
    width: 100px;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.button.edit-button  {
    color: #001f9c;
    background-color: #fff;
    text-align: center;
    border-radius: 0;
    border: 3px solid #ffffff;
    cursor: pointer;
    outline: none;
    font-size: 2.0rem;
}
.button.add-button  {
    color: #fff;
    background-color: #001f9c;
    text-align: center;
    border-radius: 0;
    border: 3px solid #ffffff;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
}
.button.delete-button {
    color: #d61114;
    background-color:#fff;
    text-align: center;
    border-radius: 0;
    border: 3px solid #ffffff;
    cursor: pointer;
    font-size: 2.0rem;
}
.button.add-product{
    color: #fff;
    background-color: #d61114;
    text-align: center;
    border-radius: 8px;
    border: 3px solid #ffffff;
    padding :10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

.button.sort-product{
    color: #676767;
    border: 1px solid  #e7e7e7;
    background: #f0f0f0;
    text-align: left;
    border-radius: 4px;
    padding :8px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    float: right;
}