@import '../../../style/variable.scss';


.title2 {
    max-width: 100%;
    color: black;
    font-size: 1.5rem;
    font-weight: bold !important;
}

.test {
    font-weight: 410;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;

    .title1 {
        max-width: 100%;
        color: red;
        font-size: 1.5rem;
        font-weight: bold;
        font-size: 14px;
    }

    .detailsnote {
        max-width: 100%;
        grid-column: col 7/ span 6 !important;
        font-family: 'Quicksand', sans-serif !important;
        font-size: 1.5rem;
        line-height: 21px;
        word-spacing: 1px;
        margin: 0 0 10px 0;
        font-size: 14px;
    }
}

.container.details {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);

    grid-column-gap: 1em;
    grid-row-gap: 15px;
    margin-top: 50px;
}

.product-image-feature {
    display: inline-block;
    cursor: pointer;
}

.img-show {
    margin-top: calc(#{$header-height} + 40px);
    grid-column: col / span 6;

    .img-show-details {
        display: flex;

        .list-img {
            width: 18%;
            margin-right: 10px;

            .slider-thumb {
                list-style-type: none !important;
                position: relative;
                display: block;
                user-select: none;
                touch-action: pan-y;
                -webkit-tap-highlight-color: transparent;

                .product-img {
                    border: 1px solid #39393d;
                    margin-bottom: 10px;

                    control .img- {
                        transition: opacity 150ms linear;
                        color: 150ms linear;
                        background: 150ms linear;
                        background-color: #f3f3f3;
                        display: block;
                    }

                    img {
                        display: block;
                        cursor: pointer;
                        background-color: #f7f7f8;
                        width: 100%;
                    }
                }

                .product-img:hover {
                    border-color: red;
                }

                .product-img:active {
                    border-color: red;
                }
            }
        }

        .Product-details-img {
            width: 70%;
            margin-left: 5px;
            margin-right: 5px;
            position: relative;

            .product-image-feature {
                max-width: 100%;
                display: block;
            }

            .click-pre {
                left: 40px;
                z-index: 99;
                position: absolute;
                top: 25%;

            }

            .click-next {
                right: 25px;
                z-index: 99;
                position: absolute;
                top: 25%;

            }

            .click-pre:before {
                content: "";
                font-family: "FontAwesome";
                font-size: 33px;
                display: inline-block;
                color: #000;
            }

            .click-next:before {
                content: "";
                font-family: "FontAwesome";
                font-size: 33px;
                display: inline-block;
                color: #000;
            }
        }
    }


}

.ProductDetail-content {
    grid-column: col 7/ span 6;

    .Producdetail {

        margin-top: calc(#{$header-height} + 40px);
        padding: 0 0 10px;
        border-bottom: 1px dotted #dfe0e1;
        box-sizing: border-box;

        .ProductName {
            font-size: 20px;
            font-weight: 700;
            margin: 0 0 5px;
            line-height: initial;
            color: $primary-color;
        }

        .IDproduct {
            font-size: 12px;
            color: #a3a5a7;
            margin-right: 20px;
        }
    }

    .Product-price {
        display: flex;
        align-items: center;
        padding: 10px 0;
        width: 100%;

        .Pro-sale {
            display: inline-block;
            padding: 5px 15px;
            margin-right: 10px;
            background: #ededed;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            color: #f94c43;
        }

        .Pro-price {
            font-size: 18px;
            opacity: .92;
            font-weight: bold;
            color: red;
        }

        .Pro-real {
            font-size: 14px;
            color: #777a7b;
            padding-left: 10px;
            font-weight: 500;
        }
    }

    .Check-box-size {
        padding: 10px 0;
        width: 100%;
        float: left;
        box-sizing: border-box;

        .Size {
            font-size: 20px;
            font-weight: bold;
            color: black;
            display: inline-block
        }

        .check-box {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            margin: 20px 0 30px 0;

            .abox {
                position: relative;
                cursor: pointer;
                margin: 0;
                color: #000;
                height: 25px;
                width: 49px;
                font-size: 13px;
                font-weight: 600;
                line-height: 30px;
                white-space: nowrap;
                text-transform: uppercase;
                display: inline-block;
                max-width: 100%;

                .button-check {
                    font-size: 21px !important;
                    position: absolute;
                    margin-top: 9px;
                    cursor: pointer;
                }

                .charset {
                    margin-left: 20px;
                    margin-right: 10px;
                    position: absolute;
                    cursor: pointer;
                }
            }

        }
    }

    .bar_selector {
        .quantity_button {
            margin-bottom: 15px;
            width: 134px;
            float: left;

            .text_change {
                background: #fff;
                font-weight: 600;
                height: 49px;
                padding: 0;
                text-align: center;
                width: 70px;
                border: 1px solid #e1e1e1;
                border-left: none;
                border-right: none;
                border-radius: 0;
                float: left;
                -webkit-appearance: none;
                font-size: 20px;
                color: black;
            }

            .quantity_change.l {
                border-right: none;
            }

            .quantity_change.r {
                border-left: none;
            }

            .quantity_change {
                background: #fff;
                float: left;
                border: 1px solid #e1e1e1;
                cursor: pointer;
                font-weight: 600;
                font-size: 16px;
                outline: none;
                height: 49px;
                width: 32px;
                text-align: center;
                border-radius: 0;
                font-size: 20px;
                color: black;
            }

        }

        .add-to-cart {
            width: -webkit-calc(100% - 134px);
            padding-left: 15px;
            float: left;

            .button-add {
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                box-shadow: none;
                padding: 14px 35px;
                line-height: 22px;
                width: 100%;
                height: 49px;
                color: #fff;
                border-color: #d61114;
                background-color: #d61114;
                border: 1px solid;
                outline: none;
                cursor: pointer;
            }

            .button-add:hover {
                background-color: #ffffff;
                color: black;
            }
        }
    }

    .Full-Infor {
        .Pro-details {
            .task-bar {
                border-bottom: 1px solid #e1e1e1;
                display: inline-block;
                width: 100%;

                .li_cs {
                    padding: 0;
                    display: inline-block;
                    float: none;
                    margin-right: 9rem;

                    .con {
                        font-size: 14px;
                        color: #000;
                        position: relative;
                        padding: 5px 0 10px;
                        margin-right: 10px;
                        border: 0;
                        font-weight: 60;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-weight: bold !important;
                    }

                    .con:active {
                        color: red;
                        border: red;
                    }
                }

                .li_cs.l {
                    margin-right: 30px;
                }
            }

            .tab-content {
                grid-column: col 7/ span 6;

            }
        }
    }

}

.noname1 {
    margin-bottom: 10px;
    display: inline-block;
}

.noname2 {
    line-height: 2.8rem;
}