@import '../../../style/variable.scss';
.slider1{
    margin-top: var(--header-height);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: $header-height;
}
.mother {
    display: flex;
    justify-content: center;
}
.changePassword{
    margin-top: 58px;
    position: relative;
    margin-bottom:10px;
    height:80%;
    width: 30%;
}
.headLogo{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.headLogo .logo{
    display:inline-block;
    max-width: 100%;
}
.headLogo .formTitle{
    font-size: 3.6rem;
    margin-top: 20px;
    color: #d61114;
    text-align: center;
    font-weight: bold;
}
.headLogo .formTitle:after {
    content: "";
    background: #000;
    display: block;
    width: 60px;
    height: 4px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.changePassword .inputAccount{
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
}
.accountIn4{
    height: 50px;
    width:100%;
    font-size: 16px;
    border: none;
    background-color: #ededed;
    padding: 0 11px;
}
.text{
    font-size:1.6rem;
    color: rgb(36, 2, 2);
    margin-bottom: 10px;
}
.footerThisPage{
    margin-top:15px;
    margin-left:10px;
}
.footerThisPage .confirm{
    font-size: 12px;
    background-color: #d61114;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
    line-height: 22px;
    width: 30%;
    height: 49px;
    color: #fff;
    border-color: #d61114;
    cursor: pointer;
    border : 1px solid;
    outline: none;
    margin-right: 50;
}
.confirm:hover{
    background-color: #ffffff;
    color: #d61114;
}
.linkTo{
    font-size: 20px;
}
.lastFooter{
    margin-top:20px;
    margin-left:10px;
}
.lastFooter .forHome{
    font-size: 20px;
    margin-right:5px;
}
.err{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.scc{
    color:green;
    font-size: 14px;
    margin-left: 10px;
}